/* 基础样式，规约统一前缀 */
img {
	width: 100%;
	height: 100%;
}

.xun-title {
	font-size: 30px;
	font-weight: 700;
	font-family: "楷体";
	cursor: pointer;
}

.xun-content {
	font-size: 20px;
	font-weight: 500;
	font-family: "楷体";
	text-indent: 2em;
}

.xun-meta {
	font-size: 15px;
}

/*--------------------布局设置-------------------- */
.xun-container {
	width: 80%;
	display: flex;
	margin: 0 auto;
	/* 主页背景的深灰色 */
	/* background-color: darkgray;							 */
	margin-top: 60px;
}

.xun-row {
	display: flex;
}

.xun-col-12 {
	flex: 1 1 100%;
}

.xun-col-8 {
	flex: 1 1 63%;
}

.xun-col-6 {
	flex: 1 1 48%;
}

.xun-col-4 {
	flex: 1 1 32%;
}

.xun-col-3 {
	flex: 1 1 23%;
}

.xun-col-2 {
	flex: 1 1 15%;
}

.xun-col-1 {
	flex: 1 1 7%;
}
/*--------------------对齐方式设置-------------------- */

/* flex横向布局的对齐，主轴副轴均居中 */
.xun-fx-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

/* flex横向布局的对齐，横向左对齐,纵向居中 */
.xun-fx-left {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

/* flex横向布局的对齐，横向右对齐，纵向居中 */
.xun-fx-right {
	display: flex;	
	justify-content: center;
	align-items: center;
}