* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

a {
	font-size: 22px;
	font-weight: 700;
	font-family: "microsoft yahei";
	text-decoration: none;
	letter-spacing: 20px;
	color: rgba(33, 33, 33, 0.8);
}

ul {
	height: 100%;
	width: 80%;
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	padding-left: 4%;
}

ul li {
	flex: 1 1 20%;
	display: flex;
}

.nav {
	background-color: rgb(222, 231, 238);
	width: 95%;
	margin: 0 auto;
	margin-top: 1px;
	border-radius: 20px;
	height: 50px;
	display: flex;
}

.changeBox {
	width: 13%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.main-color {
	background-image: linear-gradient(to right, #bf30ac 0%, #0f9d58 100%);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 7px 10px 0 rgba(0, 0, 0, 0.12);
	opacity: 0.7;
}

